* TEAM */
#team{
  /* background-color:greenyellow; */
  background: rgb(72,74,117);
  background: linear-gradient(0deg, rgba(72,74,117,1) 4%, rgba(95,69,121,1) 46%, rgba(97,67,107,1) 90%);
 
}

#organizers p{
  font-size: 16px;
  font-family: 'Cabin', sans-serif;
  margin-bottom: 0;
  font-weight: 400;
  color:black;
}

.profile-img{
  opacity: 0.9;
  width: 85%;
  padding: 20px;
  border-radius: 50%;
}

.team {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  margin-bottom: 50px;
  padding: 20px;
  padding-top: 30px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* .team1 {
  display: flex;
  align-items:center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  padding: 20px;
  padding-top: 30px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
} */

#organizers .team-name{
  font-size: 14px;
  font-weight: 300;
  color: black;
  opacity: 0.9;
  font-family: 'Open-Sans', sans-serif;
  margin-top: 0;
}

.person{
  width: 20%;
  padding-bottom: 22px;
  text-align: center;

}

.person-name{
  margin: 0;
}
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
html {
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  color: #9fa1a4;
  line-height: 1.5;
}

a {
  color: #777;
  text-decoration: none;
  transition: .3s all ease;
}

a:hover {
  color: #000;
}

h1, h2, h3, h4, h5, h6, .font-heading {
  font-family: "Poppins", sans-serif;
  color: #000;
}

.container {
  z-index: 2;
  position: relative;
}

.text-black {
  color: #000 !important;
}

.text-primary {
  color: #1a5320 !important;
}

.border-top {
  border-top: 1px solid #f2f2f2 !important;
}

.border-bottom {
  border-bottom: 1px solid #f2f2f2 !important;
}

figure figcaption {
  margin-top: .5rem;
  font-style: italic;
  font-size: .8rem;
}

section {
  overflow: hidden;
}

.section {
  padding: 7rem 0;
}

.section-heading {
  font-size: 3rem;
  font-weight: 700;
  background: linear-gradient(-45deg, #3dc548, #278537);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #278537;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #3dc548;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/* Default btn sre-tyling */
.btn {
  border: none;
  padding: 15px 30px !important;
}

.btn.btn-outline-white {
  border: 2px solid #fff;
  background: none;
  color: #fff;
}

.btn.btn-outline-white:hover {
  background: #fff;
  color: #278537;
}

.btn.btn-primary {
  background: #3dc548;
  background: linear-gradient(-45deg, #3dc548, #278537);
  color: #fff;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
}

/* Feature 1 */
.feature-1 .wrap-icon {
  margin: 0 auto;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: relative;
  margin-bottom: 30px;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.feature-1 .wrap-icon.icon-1 {
  background: linear-gradient(-45deg, #3dc548, #278537);
}

.feature-1 .wrap-icon i {
  font-size: 40px;
  line-height: 0;
  color: #fff;
}

.feature-1 h3 {
  font-size: 20px;
}

.feature-1 p {
  color: #b1b1b1;
}

/* Step */
.step {
  box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.1);
  background: #fff;
  padding: 40px;
}

.step .number {
  background: linear-gradient(-45deg, #3dc548, #378527);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  letter-spacing: .2rem;
  margin-bottom: 10px;
  display: block;
}

.step p:last-child {
  margin-bottom: 0px;
}

/* Pricing */
.pricing {
  padding: 50px;
  background: linear-gradient(-45deg, #3dc548, #378527);
  color: #fff;
  padding-bottom: 12rem !important;
  position: relative;
  border-radius: 4px;
  color: #000000;
  background: #fff;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.2);
}

.pricing h3 {
  color: #1a5320;
}

.pricing .price-cta {
  text-decoration: none;
  position: absolute;
  bottom: 50px;
  width: 100%;
  text-align: center;
  left: 0;
}

.pricing .price-cta .price {
  display: block;
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: 300;
}

.pricing .popularity {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: .2rem;
  display: block;
  margin-bottom: 20px;
}

.pricing ul {
  margin-bottom: 50px;
}

.pricing ul li {
  margin-bottom: 10px;
}

.pricing .btn-white {
  background: #fff;
  border: 2px solid #f1f1f1;
  border-radius: 4px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
}

.pricing .btn-white:hover {
  color: #1a5320;
}

.pricing.popular {
  background: #fff;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.2);
  color: #000000;
  background: linear-gradient(-45deg, #3dc548, #378527);
  color: #fff;
  box-shadow: none;
}

.pricing.popular .popularity {
  color: #b3b3b3;
}

.pricing.popular h3 {
  color: #fff;
  background: none;
}

.pricing.popular .btn-white {
  border: 2px solid #1a5320;
}



/* Contact Form */
.form-control {
  height: 48px;
  border-radius: 0;
  border: 1px solid #dae0e5;
}

.form-control:active, .form-control:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid #1a5320;
}

.php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.php-email-form .error-message br + br {
  margin-top: 25px;
}

.php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.php-email-form textarea {
  min-height: 160px;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 80px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
}

#header.header-scrolled {
  background: rgba(32, 104, 38, 0.8);
  height: 60px;
}

#header .logo h1 {
  font-size: 28px;
  margin: 0;
  padding: 4px 0;
  line-height: 1;
  font-weight: 500;
}

#header .logo h1 a, #header .logo h1 a:hover {
  color: #fff;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.65);
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover, .navbar .active, .navbar li:hover > a {
  color: #fff;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(130, 161, 127, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 15px;
  color: #101c36;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  color: #1a5320;
}

.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }
  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(27, 49, 94, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a {
  padding: 10px 20px;
  font-size: 15px;
  color: #101c36;
}

.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #1a5320;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
  color: #1a5320;
}

.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero-section {
  background: linear-gradient(to right, #82af37 0%, #BFCA37 100%), url(../img/hero-bg.jpg);
  position: relative;
}

.hero-section .wave {
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  bottom: -150px;
}

@media screen and (max-width: 992px) {
  .hero-section .wave {
    bottom: -180px;
  }
}

.hero-section .wave svg {
  width: 100%;
}

.hero-section, .hero-section > .container > .row {
  height: 100vh;
  min-height: 880px;
}

.hero-section.inner-page {
  height: 60vh;
  min-height: 0;
}

.hero-section.inner-page .hero-text {
  transform: translateY(-150px);
  margin-top: -120px;
}

@media screen and (max-width: 992px) {
  .hero-section.inner-page .hero-text {
    margin-top: -80px;
  }
}

.hero-section h1 {
  font-size: 3.5rem;
  color: #fff;
  font-weight: 700;
  margin-bottom: 30px;
}

@media screen and (max-width: 992px) {
  .hero-section h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 40px;
  }
}

@media screen and (max-width: 992px) {
  .hero-section .hero-text-image {
    margin-top: 4rem;
  }
}

.hero-section p {
  font-size: 18px;
  color: #fff;
}

.hero-section .iphone-wrap {
  position: relative;
}

@media screen and (max-width: 992px) {
  .hero-section .iphone-wrap {
    text-align: center;
  }
}

.hero-section .iphone-wrap .phone-2, .hero-section .iphone-wrap .phone-1 {
  position: absolute;
  top: -50%;
  overflow: hidden;
  left: 0;
  box-shadow: 0 15px 50px 0 rgba(0, 0, 0, 0.3);
  border-radius: 30px;
}

@media screen and (max-width: 992px) {
  .hero-section .iphone-wrap .phone-2, .hero-section .iphone-wrap .phone-1 {
    position: relative;
    top: 0;
    max-width: 100%;
  }
}

.hero-section .iphone-wrap .phone-2, .hero-section .iphone-wrap .phone-1 {
  width: 250px;
}

@media screen and (max-width: 992px) {
  .hero-section .iphone-wrap .phone-1 {
    margin-left: -150px;
  }
}

.hero-section .iphone-wrap .phone-2 {
  margin-top: 50px;
  margin-left: 100px;
  width: 250px;
}

@media screen and (max-width: 992px) {
  .hero-section .iphone-wrap .phone-2 {
    width: 250px;
    position: absolute;
    margin-top: 0px;
    margin-left: 100px;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  padding: 5rem 0 2.5rem 0;
}

.footer h3 {
  font-size: 18px;
  margin-bottom: 30px;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer a {
  color: #000;
}

.footer .copyright {
  margin-bottom: 0px;
}

.footer .copyright, .footer .credits {
  font-size: 14px;
}

.social a {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #f8f9fa;
  position: relative;
  text-align: center;
  transition: .3s background ease;
  color: #0d1e2d;
  line-height: 0;
}

.social a span {
  display: inline-block;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.social a:hover {
  color: #fff;
  background: #1a5320;
}

.social a i {
  line-height: 0;
}


/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/

figure {
  width: 20vw;
}

.prof {
  display: absolute;
}

.figure-e {
  width: 25vw;
}
.flickity-slider > figure {
  padding-left: 10px;
  padding-right: 10px;
}

@media (min-width: 700px) {
  .flickity-slider > figure {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.figure-image {
  /* sizing */
  width: 15vw;
  height: 15vw;
  max-width: 250px;
  max-height: 250px;
  min-width: 100px;
  min-height: 100px;

  /* hover animation  */
  transition: transform 0.3s ease-out;

  /* border */
  border-radius: 180px;
  position: relative;
  z-index: 1;

  border: 5px transparent;

  background-clip: content-box;
}

.figure-image-container {
  background: transparent;
  position: relative;
  width: 15vw;
  height: 15vw;
  max-width: 250px;
  max-height: 250px;
  min-width: 100px;
  min-height: 100px;
  margin-left: auto;
  margin-right: auto;

  border-radius: 180px;

  transition: transform 0.3s ease-out;
}

.figure-image-container:hover {
  transform: scale(1.05);
}

.figure-image-container:after {
  content: "";
  position: absolute;
  top: calc(-1 * 5px);
  left: calc(-1 * 5px);
  height: calc(100% + 5px * 2);
  width: calc(100% + 5px * 2);

  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  border-radius: 180px;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;

  transition: transform 0.3s ease-out;
}

@keyframes animated-gradient {
  25% {
    background-position: left bottom;
  }
  50% {
    background-position: right bottom;
  }
  75% {
    background-position: right top;
  }
  100% {
    background-position: left top;
  }
}

.figure-image:hover,
.figure-image-e:hover {
}

.figure-image-e3:hover {
}

.row100:hover {
  background-color: #404060 !important;
}

.figure-image-e {
  /* size */
  width: 12vw;
  height: 12vw;

  max-width: 200px;
  max-height: 200px;

  min-width: 80px;
  min-height: 80px;

  /* border */
  /* hover animation  */
  transition: transform 0.3s ease-out;

  /* border */
  border-radius: 180px;

  /* border-radius: 50%;
  border: 0.3vw solid #eeeeee;
  transition: transform 0.3s ease-out; */
}

.figure-image-container-e {
  background: transparent;
  position: relative;
  width: 12vw;
  height: 12vw;
  margin-left: auto;
  margin-right: auto;
  max-width: 200px;
  max-height: 200px;
  min-width: 80px;
  min-height: 80px;

  transition: transform 0.3s ease-out;

  border-radius: 180px;
}

.figure-image-container-e:hover {
  transform: scale(1.05);
}

.figure-image-container-e:after {
  content: "";
  position: absolute;
  top: calc(-1 * 5px);
  left: calc(-1 * 5px);
  height: calc(100% + 5px * 2);
  width: calc(100% + 5px * 2);
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  border-radius: 180px;
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;

  transition: transform 0.3s ease-out;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.figure-image-e3 {
  /* size */
  width: 12vw;
  height: 12vw;
  max-width: 200px;
  max-height: 200px;
  min-width: 80px;
  min-height: 80px;

  /* hover animation  */
  transition: transform 0.3s ease-out;

  /* border */
  border-radius: 180px;

  position: relative;
  z-index: 1 !important;
  /* border-radius: 50%;
  border: 0.3vw solid #eeeeee;
  transition: transform 0.3s ease-out; */
}

.figure-image-container-e3 {
  background: transparent;
  position: relative;
  width: 12vw;
  height: 12vw;
  margin-left: auto;
  margin-right: auto;
  max-width: 200px;
  max-height: 200px;
  min-width: 80px;
  min-height: 80px;

  transition: transform 0.3s ease-out;

  border-radius: 180px;
}

.figure-image-container-e3:hover {
  transform: scale(1.05);
}
.figure-image-container-e3:after {
  content: "";
  position: absolute;
  top: calc(-1 * 5px);
  left: calc(-1 * 5px);
  height: calc(100% + 5px * 2);
  width: calc(100% + 5px * 2);
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  border-radius: 180px;
  animation: animatedgradient 3s ease alternate infinite;
  z-index: 0 !important;
  background-size: 300% 300%;

  transition: transform 0.3s ease-out;
}

.figure-caption {
  color: lightgray;
  font-size: 1.4rem !important;
}

.figure-caption-e {
  color: lightgray;
  font-size: 1.2rem !important;
  margin-bottom: 0.5rem;
  margin-top: 0.25rem;

  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.figure-caption-e2 {
  color: rgb(182, 182, 182);
  font-size: 1rem !important;
  margin-bottom: 0.5rem;
  margin-top: 0.25rem;
}

.figure-caption-title {
  margin-top: 20px;
  color: white;
  font-size: 1.4rem !important;
}

.figure-caption-title-e {
  margin-top: 20px;
  color: white;
  font-size: 1.2rem !important;
  margin-bottom: 0rem;
}

@font-face {
  font-family: "CircularStd";
  src: url("../fonts/CircularStd-Black.eot?#iefix") format("embedded-opentype"),
    url("../fonts/CircularStd-Black.woff") format("woff"),
    url("../fonts/CircularStd-Black.ttf") format("truetype"),
    url("../fonts/CircularStd-Black.svg#CircularStd-Black") format("svg");
  font-weight: normal;
  font-style: normal;
}

html {
  overflow: hidden !important;
  overflow-y: auto !important;
  scroll-behavior: smooth;
}

.row {
  min-height: 40px;
}

#schedule-section {
  height: 850px;
  padding: 50px 0vh 150px 0vh;
}

#title-i {
  font-size: 8.5rem;
}

@media (max-width: 1100px) {
  .main-title {
    font-size: 12vw !important;
  }

  #title-i {
    font-size: 12vw !important;
  }

  .main-logo {
    width: 50px !important;
    margin-bottom: -50px !important;
    margin-right: 20px !important;
    margin-left: 20px !important;
  }

  #about-section {
    padding: 5vh 10vw 5vh 10vw !important;
  }

  .prev1 {
    transform: translateY(-50px) translateX(-40px) !important;
  }
  .next1 {
    transform: translateY(-50px) translateX(40px) !important;
  }
  .quote {
    padding: 0px 10px !important;
  }
}

@media (max-width: 500px) {
  .main-logo {
    width: 30px !important;
    margin-bottom: -100px !important;
    margin-right: 20px !important;
    margin-left: 20px !important;
  }
}

@media (max-width: 1320px) {
  .infodiv {
    text-align: left !important;
  }
}

.infodiv {
  text-align: center;
}

.stuf1 {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 20px 40px 20px;
  min-width: 900px;
}

#about-section {
  padding: 5vh 20vw 5vh 20vw;
}

#ul-1,
#ul-2,
#ul-3 {
  color: #fff;
  margin: 0;
  padding: 0;
  text-align: left;
}

#events {
  padding: 0;
  background: #101020;
}

.info-container {
  text-align: center;
}

a:active,
a:focus {
  outline: 0 !important;
  border: none !important;
  -moz-outline-style: none !important;
  outline-style: none !important;
}

.fa-external-link-alt {
  font-size: 1.2rem !important;
  margin-left: 5px;
}

.container {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.nav-link {
  font-family: "CircularSTD" !important;
  font-size: 20px;
}

@media (max-width: 992px) {
  .col-md-6 {
    min-width: 80vw;
  }

  .figure-caption-e2 {
    display: none;
  }

  .info-container {
    padding-left: 10vw !important;
    padding-right: 10vw !important;
  }
  .stuf1 {
    font-size: 0.8rem !important;
    min-width: 0px;
  }
  .text3 {
    font-size: 0.8rem !important;
  }
  #infopagelink {
    font-size: 1.1rem !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
  }
  .fa-external-link-alt {
    font-size: 0.8rem !important;
  }
  .prof {
    width: 90vw !important;
  }
  .prof {
    padding: 5px 0;
  }
  .gb {
    padding: 4px 16px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 4px;
    margin: 10px 10px;
  }
  .figure-caption-title {
    font-size: 1.3rem !important;
  }
  .figure-caption {
    font-size: 1.2rem !important;
  }
  figure {
    width: 25vw;
  }
  .figure-e {
    width: 25vw;
  }
  .figure-image {
    width: 20vw;
    height: 20vw;
  }
  .figure-image-e {
    width: 14vw;
    height: 14vw;
  }
  .figure-image-e3 {
    width: 14vw;
    height: 14vw;
  }
  .figure-image-container {
    width: 20vw !important;
    height: 20vw !important;
  }
  .figure-image-container-e3 {
    width: 14vw !important;
    height: 14vw !important;
  }
  .figure-image-container-e {
    width: 14vw !important;
    height: 14vw !important;
  }
  .directors {
    padding: 0vw 12.5vw;
  }


 